body {
    background-color: darkgray;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: white;
    margin-top: 20px;
  }
  
  #farmaciaTurno {
    background-color: green;
    color: white;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
  }
  
  #anuncio {
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
  }
  